.tabs {
  display: flex;
  justify-content: center;
}

.tab {
  padding: 10px 100px;
  cursor: pointer;
  transition: color 0.3s ease-in;
}
.tab:hover {
  color: #3f51b5;
}

.tab:active {
  color: #0026ff;
}

.tab.active {
  color: #3f51b5;
  border-bottom: 1px solid #3f51b5;
}
